.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid violet;
    background-color: #74EBD5;
    background-image: linear-gradient(0deg, #74EBD5 0%, #9FACE6 100%);
    }